<div class="container-fluid class-prices kabul">
    <div class="row">
        <div class="col-6 text-center pad-foto">
            <span class="cormorant title">
                ONLINE
            </span>
            <img src="../assets/images/class.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center subtitles pad-top">
                        <span>
                            Horarios
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles">
                        <span>
                            Lunes
                        </span>
                        <br>
                        <span>
                            20:00 hrs
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles">
                        <span>
                            Miércoles
                        </span>
                        <br>
                        <span>
                            20:00 hrs
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles">
                        <span>
                            Martes
                        </span>
                        <br>
                        <span>
                            20:00 hrs
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles">
                        <span>
                            Jueves
                        </span>
                        <br>
                        <span>
                            20:00 hrs
                        </span>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center subtitles pad-top">
                        <span>
                            Precios
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles ">
                        <span>
                            Clase suelta
                        </span>
                        <br>
                        <span>
                            $50 mxn
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles ">
                        <span>
                            8 Clases al mes
                        </span>
                        <br>
                        <span>
                            $350 mxn
                        </span>
                    </div>
                    <div class="col-6 text-center subtitles">
                        <span>
                            Clases ilimitadas
                        </span>
                        <br>
                        <span>
                            $500 mxn
                        </span>
                    </div>  
                    <div class="col-12 text-left pad-top">
                        <span class="secundary_text">
                            * Las clases se imparten via zoom
                        </span>                        
                    </div>                  
                </div>
            </div>
        </div>
    </div>
</div>