.class-prices {
    .title {
        display: block;
        font-size: 32px;
        padding-bottom: 30px;
        font-family: 'cormorantinfant';
        padding-top: 30px;
    
    }
    span{
        font-family: 'cormorantinfant';
        font-size: 28px;
        &.secundary_text{
            font-size: 16px;
        }
    border: gray;
    }
    .subtitles{
        padding-bottom: 50px;

        
    }
    .pad-top{
        padding-top: 120px;
    }
    .pad-foto{
        padding-left: 100px;
        padding-right: 70px;
    }
    .kabul{
    color: #5E504A;
    }
    .background-prices{
        background-color: #FAF5F3;
    }
}


// Estilo mobile

@media (min-width: 640px) {
    .img-precios {width: 600px}
}

@media (min-width: 1024px){
    .img-precios {width: 500px}

}