<div class="header container-fluid">
    <div class="row">
  
      <div id="menu-izq" class="col-12 col-lg-6">
        <div class="container-fluid pad0">
          <div class="row h-menu align-items-center">
            <div class="col-2 col-lg-auto">
              <img src="../assets/images/logo2yogiweb.png" alt="" class="logo">
            </div>
            <div class="col-8 panel-titulo" >
              <span>Laura Salazar</span>
              <span>Ashtanga Vinyasa Yoga</span>
            </div>
            <div class="col-2 d-lg-none">
              <img (click)="showMenu()" src="../assets/images/menu.png" alt="" class="menu-hamburguesa">
            </div>
          </div>
        </div>
      </div>
  
  
  
      <div id="menu-der" 
        class="col-12 col-lg-6 d-lg-block"
        [ngClass]="{'d-none': hiddenMenu}"
      >
        <div class="container-menu-mobile container">
          <div class="row h-menu align-items-center justify-content-end">
            <div class="col-12 col-lg-auto text-center">
              <a routerLink="/home" class="a-menu"> Inicio</a>
            </div>
            <div class="col-12 col-lg-auto text-center">
              <a routerLink="/class-prices" class="a-menu"> Clases y precios</a>
            </div>
            <div class="col-12 col-lg-auto text-center">
              <a routerLink="/practice" class="a-menu"> Práctica</a>
            </div>
            <div class="col-12 col-lg-auto text-center">
              <a routerLink="/contact" class="a-menu"> Contacto</a>            
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>