span{
    font-family: 'cormorantinfant';
    font-size: 24px;
    color: #5E504A;
}

.border{
    border-color:gray
}
.img-contact{
    width: 490px;
}
.input{
    width: 100%;
    height: 100%;
    background-color: white ;
    border: 0;
    padding: 15px 25px;
}
.padd-top{
    padding-top: 30px;
}
.background-contact{
    background-color: #FAF5F3;
}
.padd-send{
    padding-top: 60px ;
}