<div class="container background-contact">
    <div class="row">
        <div class="col-12  padd-top">
            <span>
                Si estas interesado en recibir mas información, dejame tus datos
            </span>
        </div>
        <div class="col-7 ">
            <div class="container">
                <div class="row">
                    <div class="col-4  padd-top">
                        <span>
                            Nombre completo:
                        </span>
                    </div>
                    <div class="col-8  padd-top">
                        <input class="input" type="text">
                    </div>
                    <div class="col-4  padd-top">
                        <span>
                            Correo electrónico:
                        </span>
                    </div>
                    <div class="col-8  padd-top">
                        <input class="input" type="text">
                    </div>
                    <div class="col-4  padd-top">
                        <span>
                            Teléfono (opcional):
                        </span>
                    </div>
                    <div class="col-8  padd-top">
                        <input class="input" type="text">
                    </div>
                    <div class="col-12 d-flex flex-column padd-top">
                        <span>
                            Comentarios
                        </span>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <span class="padd-send text-center ">
                        ENVIAR
                    </span>
                </div>
            </div>
        </div>
        <div class="col-5 padd-top">
            <img src="../assets/images/fotocontact.jpg" alt="" class="img-contact">
        </div>
    </div>
</div>