<div class="container">
    <div class="row">
        <div class="col-12">
            <span>PRANAYAMA</span>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum.
            </p>
        </div>
        <form [formGroup]="pranayamaForm" (ngSubmit)="onSubmit()" class="pranayama-form">
            <div class="container">
                <div class="row">
                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de repeticiones</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="repeats">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de segundos en inhalación y exhalación</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="timeInEx">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de segundos en retención</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="timeRetention">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-timer container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <button (click)="cd.begin()" type="submit" [disabled]="!pranayamaForm.valid" class="button">INICIAR</button>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span (click)="cd.pause()" class="button">
                                    PAUSAR
                                </span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span class="button">
                                    REINICIAR
                                </span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span class="button">
                                    RESET
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel-timer container">
    <div class="row">
        <div class="d-flex flex-column  col-6">
            CRONOMETRO
            <countdown #cd (event)="handleEvent($event)" [config]="{leftTime: timeInExNum , demand: true , format: 'mm:ss'}" class="custom-style"></countdown>
        </div>
        <div class="d-flex flex-column  col-6">
            ACCIÓN            
        </div>
    </div>
</div>