<div class="container">
    <div class="row">
        <div class="col-12 padd-top font-practice ">
            <span class="tittle">PRANAYAMA</span>
            <p class="text-start padd-top">
            El proceso de purificación y aquietamento del cuerpo y la mente empieza con las asanas
             y continúa con el pranayama. El prana es la fuerza vital que está presente en todos
              los elementos; en el yoga, no obstante se destaca el papel de la respiración, y 
              se considera por tanto que el aire es el elemento más valioso a través del cual 
              podemos acceder al prana. Pranayama es una práctica en la que se establecen varios 
              ritmos de inspiración (puraka), espiración (recaka) y retención (kumbaka)mientras 
              se aplican las bandhas (candados energeticós).
            </p>
            <span class="secundary-text fst-italic">
                Petri Raisanen, 2005, Ashtanga yoga  
            </span>
              
        </div>
<div class="container">
    <div class="row">
         <div class="col-12 font-practice padd-top text-start">           
            <span>NADI SHODHANA</span>
            <p class="padd-top">
                Tipo de Pranayama que se basa en alternar la respiración entre las fosa nasal 
                derecha e izquierda, ayudando a equilibrar ambos hemisferios del cuerpo. 
                En sánscrito, nadi significa «canal de energía», shodhana significa «limpieza», 
                según la ayurveda, la práctica de nadi shodhana pranayama ayuda a limpiar y 
                equilibrar los canales de energía que transportan la energía de prana a través
                 del cuerpo.
            </p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 font-practice padd-top text-start">          
                    <p>
                        1. Comienza sentado en padmasana (postura del loto) o cualqueir varación
                        <br>
                        2. Con la mano derecha realiza shenka mudra (ver ilustración)
                        <br>
                        3. El pulgar tapa la fosa nasal derecha, el meñique y anular tapan la fosa nasal izquierda
                        <br>
                        4. Siempre comienza exhalando por la fosa nasal izquierda
                        <br>
                        5. Tapa la fosa izquierda e inhala por la derecha
                        <br>
                        7. La retención se hace tapando ambas fosas nasales
                        <br>
                        8. Exhala por la izquierda 
                        <br>
                        9. Vuelve a inahalar por la izquierda y repite 
                        <br>
                    </p>
                </div>
                <div class="col-12 col-lg-6 padd-top-i ">
                    <img src="../assets/images/prana.png" alt="" class="img-prana">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class= "row">
            <div class="col-12 font-practice text-start padd-top">
                <span class="tittle">
                    Comienza a practicar...
                </span>
                <br>
                <p class="padd-top">
                    Encuentra un espacio cómodo sin distracciones, siéntate en padmasana o piernas cruzadas, 
                    puedes ultilizar un cojín si te es mas comodo, manten tu espalda recta y ojos abiertos
                     durante toda la practica. Comienza con shenka mudra y siempre exhalando por la fosa nasal
                      izquierda. Recuerda dejar pasar por lo menos un minuto entre cada serie de respiraciones.
                </p>
             </div>
        </div>
    </div>
        <form [formGroup]="pranayamaForm" (ngSubmit)="onSubmit()" class="pranayama-form">
            <div class="container">
                <div class="row">
                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de repeticiones</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="repeats">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de segundos en inhalación y exhalación</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="timeInEx">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-select d-flex align-content-between flex-wrap col-12 col-md-4">
                        <div class="d-flex flex-column h-100 w-100">
                            <span class="cormorant title">Elige el número de segundos en retención</span>
                            <div class="select mt-auto">
                                <select (change)="changeRepeat($event)" formControlName="timeRetention">
                                    <option value="" disabled>Choose</option>
                                    <option *ngFor="let item of repeatsCatalog" [value]="item">{{item}}</option>
                                </select>
                                <div class="select_arrow">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel-timer container">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <button (click)="cd.begin()" type="submit" [disabled]="!pranayamaForm.valid" class="button">INICIAR</button>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span (click)="cd.pause()" class="button">
                                    PAUSAR
                                </span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span class="button">
                                    REINICIAR
                                </span>
                            </div>
                            <div class="col-12 col-md-6 col-lg-3 pt-5">
                                <span class="button">
                                    RESET
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="panel-timer container">
    <div class="row">
        <div class="d-flex flex-column  col-6">
            CRONOMETRO
            <countdown #cd (event)="handleEvent($event)" [config]="{leftTime: timeInExNum , demand: true , format: 'mm:ss'}" class="custom-style"></countdown>
        </div>
        <div class="d-flex flex-column  col-6">
            ACCIÓN            
        </div>
    </div>
</div>