<div class="header container-fluid">
  <div class="row">

    <div id="menu-izq" class="col-12 col-lg-6 border">
      <div class="container-fluid pad0 border">
        <div class="row h-menu align-items-center">
          <div class="col-2 col-lg-auto border">
            <img src="../assets/images/logo2yogiweb.png" alt="" class="logo">
          </div>
          <div class="col-8 border panel-titulo" >
            <span>Laura Salazar</span>
            <span>Ashtanga Vinyasa Yoga</span>
          </div>
          <div class="col-2 d-lg-none">
            <img src="../assets/images/menu.png" alt="" class="menu-hamburguesa">
          </div>
        </div>
      </div>
    </div>



    <div id="menu-der" class="col-6 d-none d-lg-block border ">
      <div class="container">
        <div class="row h-menu align-items-center justify-content-end">
          <div class="col-auto">
            <a href="" class="a-menu"> Inicio</a>
          </div>
          <div class="col-auto">
            <a href="" class="a-menu"> Clases y precios</a>
          </div>
          <div class="col-auto">
            <a href="" class="a-menu"> Blog</a>
          </div>
          <div class="col-auto">
            <a href="" class="a-menu"> Contacto</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pad-0"> 
  <div class="row">
    <div class="col-12">
          <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
    </div>
  </div>
</div>


<div class="container-about-me container">
  <div class="row">
    <div class="col-12 align-items-center">
      <h3 class="cormorant kabul text-center">
        UN POCO SOBRE MI...
      </h3>    
      <p class="texto1 cormorant kabul">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>  
    </div>
  </div>
</div>
