
<app-header></app-header>

<div class="container-fluid pad-0"> 
  <div class="row">
    <div class="col-12">
          <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
    </div>
  </div>
</div>


<div class="container-about-me container">
  <div class="row">
    <div class="col-12 align-items-center">
      <h3 class="cormorant kabul text-center">
        UN POCO SOBRE MI...
      </h3>    
      <p class="texto1 cormorant kabul">
        Mi nombre es Laura Salazar, amante de los animales, la naturaleza y los viajes, mi camino en el yoga empezo hace 10 años, por casualidad, pero sin duda lo mejor que ha pasado en la vida, este camino me ha echo pasar por varias facetas, aprendizajes y lecciones, pero sobre todo me ha hecho evlucionar como persona, ayudandome cada día a ser la mejor versión de mi misma. Actualmente tengo mas de 4 años de práctica constante, para mi, el yoga es un estilo de vida, es algo que te acompaña día a día en todas tus acciones y como mencioné te ayuda a ser la mejor versión de ti. Según el libro de los Yoga-sutras de Patañjali “yoga es la unión del cuerpo, mente y alma”, no podría estar más de acuerdo.
          </p>  
    </div>
  </div>
</div>
