$kabul:#5E504A;

*{
    font-family: 'cormorantinfant';
}

@import '../assets/fonts.scss';


.pad0{
    padding-left: 0px;
    padding-right: 0px;
}
.pad-0{
    padding-left: 0px;
    padding-right: 0px;
}

.texto1{
    font-size: 20px;
    text-decoration: none;
    padding: 40px 0px;
 }

.container-about-me{
    padding-top: 40px;
}


//Estilos menu mobile

.container-menu-mobile{
    padding-top: 80px;
    padding-bottom: 40px;
    div{
        padding-bottom: 20px;
    }
}


@media (min-width: 640px) {
    
}

@media (min-width: 1024px) {
    .pad0{
        padding-left: 30px;
        padding-right: 30px;
    }   
}
 

