<div class="container">
    <div class="row">
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
        </div>
        <div class="col-6">
            <img class="img-fluid" src="../assets/images/fotoprincipal.jpg">
        </div>
    </div>
</div>