<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="../../../assets/images/gallery/princ_3.jpg" alt="" class="img-fluid p-img">
            <img src="../../../assets/images/gallery/princ_4.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-12 col-md-6">
            <img src="../../../assets/images/gallery/princ_1.jpg" alt="" class="img-fluid p-img">
            <img src="../../../assets/images/gallery/princ_2.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
