/* You can add global styles to this file, and also import other style files */
.cormorant{
    font-family:'cormorantinfant';
    &.title{
        font-size: 24px;
    }
}

.berkshire{
    font-family: 'berkshire';
}
.kabul{
    color: #5E504A;
}

.hy-serif{
    font-family: 'hy-serif';
}

.border{
    border: 1px solid red;
}

