/* You can add global styles to this file, and also import other style files */
.cormorant{
    font-family:'cormorantinfant';
    &.title{
        font-size: 24px;
    }
}

.berkshire{
    font-family: 'berkshire';
}
.kabul{
    color: #5E504A;
}

.hy-serif{
    font-family: 'hy-serif';
}

.border{
    border: 1px solid red;
}

.button{
    background-color: #C4C4C4;
    padding: 15px 20px;
    font-family: 'hy-serif';
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 5px;
    border: 0; 
    display: block;
    width: 200px;
    text-align: center;
}