.contact-f{
    font-family: 'cormorantinfant';
    font-size: 96px;
    color: #5E504A;
    text-decoration: none;
}
.pad-foot{
    padding: 60px 0px;
}

.footer{
    background-color: #FAF5F3;
    padding: 170px 0;
    margin-top: 100px;
}

.icon-footer{
    height: 55px;
    width: auto;
    margin-right: 40px;
}
.icon-mail{
    height: 68px;
    margin-top: -5px;
}
.line{
    height: 1px;
    width: 70%;
    margin: 0 auto;
    background-color: #5E504A ;
    margin-bottom: 20px;
}